<ion-content>
  <ion-grid fixed='true'>
  <app-my-header></app-my-header>
  <ion-row>
    <ion-img src="assets/images/city.jpg" ></ion-img>
  </ion-row>
  <ion-row>
    <h1>We Create Dreams</h1>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis enim est, qui non videat
    haec esse in natura rerum tria? At multis se probavit. Duo Reges: constructio interrete.
    De hominibus dici non necesse est. Sit enim idem caecus, debilis. Parvi enim primo ortu
    sic iacent, tamquam omnino sine animo sint. Sed tamen est aliquid, quod nobis non liceat,
    liceat illis. Idemne, quod iucunde?
    </p>

    <p>
    Duarum enim vitarum nobis erunt instituta capienda. Iam in altera philosophiae parte. Ut
    proverbia non nulla veriora sint quam vestra dogmata. Neque enim civitas in seditione beata
     esse potest nec in discordia dominorum domus.
    </p>
  </ion-row>
  <ion-row>
    <ion-footer>
      <ion-toolbar>
          <ion-title class="ion-text-center">Created by Dream-Makers</ion-title>
          <ion-title class="ion-text-center" size="small">
              1313 Mockingbird Lane
          </ion-title>
      </ion-toolbar>
  </ion-footer>
  </ion-row>
</ion-grid>
</ion-content>




