

  <ion-content>
    <ion-grid fixed='true'>
       <app-my-header></app-my-header>
       <ion-row class='ion-align-items-center'>
         <ion-col size='6'>
           <ion-img src="assets/images/lawyers.jpg" ></ion-img>
         </ion-col>
         <ion-col size='3'>
           <ion-row>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Certe nihil nisi
            quod possit ipsum.Negat esse eam, inquit, propter se expetendam. Idcirco
            enim non desideraret, quia,quod dolore caret, id in voluptate est. Cuius
            similitudine perspecta in`
           </ion-row>
           <ion-row>
             <ion-img src="assets/images/blog.jpg"></ion-img>
           </ion-row>
         </ion-col>
         <ion-col size='3'>
           <ion-row>
            <ion-img src="assets/images/faq.jpg"></ion-img>
           </ion-row>
          <ion-row>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Certe nihil nisi
            quod possit ipsum.Negat esse eam, inquit, propter se expetendam. Idcirco
            enim non desideraret, quia,quod dolore caret, id in voluptate est. Cuius
            similitudine perspecta in`
           </ion-row>
         </ion-col>
       </ion-row>
       <ion-row>
        `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Certe nihil nisi quod possit ipsum.
          Negat esse eam, inquit, propter se expetendam. Idcirco enim non desideraret, quia,quod dolore
          caret, id in voluptate est. Cuius similitudine perspecta in Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Certe nihil nisi quod possit ipsum.Negat esse eam, inquit, propter se expetendam.
          Idcirco enim non desideraret, quia,quod dolore caret, id in voluptate est. Cuius similitudine
          perspecta in`
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-img src="assets/images/sample-banner.png" ></ion-img>
        </ion-row>
    </ion-grid>

  </ion-content>

